<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>readPowerLevel</key>
	<dict>
		<key>headerText</key>
		<string>Read Power Level</string>
		<key>value</key>
		<integer>24</integer>
		<key>minValue</key>
		<integer>4</integer>
		<key>maxValue</key>
		<integer>30</integer>
		<key>unit</key>
		<string>dBm</string>
	</dict>
	<key>session</key>
	<dict>
		<key>headerText</key>
		<string>Session</string>
		<key>item</key>
		<string>S0</string>
		<key>allItems</key>
		<array>
			<string>S0</string>
			<string>S1</string>
			<string>S2</string>
			<string>S3</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>reportUniqueTags</key>
	<dict>
		<key>headerText</key>
		<string>Anti Re-read</string>
		<key>isEnabled</key>
		<false/>
	</dict>
	<key>channels</key>
	<dict>
		<key>channelDataSet</key>
		<dict>
			<key>ch5</key>
			<true/>
			<key>ch11</key>
			<true/>
			<key>ch17</key>
			<true/>
			<key>ch23</key>
			<true/>
			<key>ch24</key>
			<true/>
			<key>ch25</key>
			<true/>
		</dict>
	</dict>
	<key>qFactor</key>
	<dict>
		<key>headerText</key>
		<string>Q Factor</string>
		<key>value</key>
		<integer>4</integer>
		<key>minValue</key>
		<integer>0</integer>
		<key>maxValue</key>
		<integer>7</integer>
		<key>unit</key>
		<string></string>
	</dict>
	<key>linkProfile</key>
	<dict>
		<key>headerText</key>
		<string>Link Profile</string>
		<key>item</key>
		<string>4</string>
		<key>allItems</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>4</string>
			<string>5</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>autoLinkProfile</key>
	<dict>
		<key>headerText</key>
		<string>Auto Link Profile</string>
		<key>isEnable</key>
		<false/>
	</dict>
	<key>polarization</key>
	<dict>
		<key>headerText</key>
		<string>Polarization</string>
		<key>item</key>
		<string>V</string>
		<key>allItems</key>
		<array>
			<string>V</string>
			<string>H</string>
			<string>Both</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>powerSaveExt</key>
	<dict>
		<key>headerText</key>
		<string>Power save ext</string>
		<key>isEnabled</key>
		<true/>
	</dict>
	<key>bluetooth</key>
	<dict>
		<key>headerText</key>
		<string>BLUETOOTH</string>
	</dict>
	<key>mode</key>
	<dict>
		<key>headerText</key>
		<string>Mode</string>
		<key>item</key>
		<string>Auto</string>
		<key>allItems</key>
		<array>
			<string>Slave</string>
			<string>Auto</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>reconnect</key>
	<dict>
		<key>headerText</key>
		<string>Reconnect</string>
		<key>item</key>
		<string>Any</string>
		<key>allItems</key>
		<array>
			<string>Reparing</string>
			<string>Any</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>reconnectTimeOut</key>
	<dict>
		<key>headerText</key>
		<string>TimeOut</string>
		<key>item</key>
		<string>None</string>
		<key>allItems</key>
		<array>
			<string>Have</string>
			<string>None</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>rfid</key>
	<dict>
		<key>headerText</key>
		<string>RFID</string>
	</dict>
	<key>triggerModeRFID</key>
	<dict>
		<key>headerText</key>
		<string>Trigger mode</string>
		<key>item</key>
		<string>Auto off</string>
		<key>allItems</key>
		<array>
			<string>Auto off</string>
			<string>Momentary</string>
			<string>Alternate</string>
			<string>Continuous1</string>
			<string>Continuous2</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>buzzer</key>
	<dict>
		<key>headerText</key>
		<string>Buzzer</string>
		<key>isEnabled</key>
		<true/>
	</dict>
	<key>buzzerVolume</key>
	<dict>
		<key>headerText</key>
		<string>Buzzer volume</string>
		<key>item</key>
		<string>Loud</string>
		<key>allItems</key>
		<array>
			<string>Low</string>
			<string>Middle</string>
			<string>Loud</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>barcode</key>
	<dict>
		<key>headerText</key>
		<string>BARCODE</string>
	</dict>
	<key>triggerMode</key>
	<dict>
		<key>headerText</key>
		<string>Trigger mode</string>
		<key>item</key>
		<string>Auto off</string>
		<key>allItems</key>
		<array>
			<string>Auto off</string>
			<string>Momentary</string>
			<string>Alternate</string>
			<string>Continuous</string>
			<string>Trigger release</string>
		</array>
		<key>unit</key>
		<string></string>
	</dict>
	<key>enableAll1DCode</key>
	<dict>
		<key>headerText</key>
		<string>Enable all 1D codes</string>
		<key>isEnabled</key>
		<false/>
	</dict>
	<key>enableAll2DCode</key>
	<dict>
		<key>headerText</key>
		<string>Enable all 2D codes</string>
		<key>isEnabled</key>
		<false/>
	</dict>
</dict>
</plist>
